version: "3.8"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        environment:
            - PORT=${PORT}
            - DATABASE_URL=${DATABASE_URL}
            - NODE_ENV=production
        restart: unless-stopped
