version: "3.8"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "3001:3001"
        environment:
            - PORT=${PORT}
            - DATABASE_URL=${DATABASE_URL}
            - NODE_ENV=${NODE_ENV}
        restart: unless-stopped
